<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FTEC FYP</title>
        <link href="static/login.css" rel="stylesheet" type="text/css" />
    <style>
        .navbar {background-color: forestgreen;}
    </style>    

    </head>

    <body>
        <section class="hero is-success is-fullheight">

            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">

                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">

                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <br>
                    <br>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </body>

</html>